extends /_templates/_layout

block vars
  - var page         = {}
  - page.title       = ""
  - page.keywords    = ""
  - page.description = ""
  - var filePath     = "/" //- 必須。詳しくはreadmeを参照

block content
  h2.hoge ほげほげ2
  h3.hoge2#hoge ほげほげ3
    img(src=`${depth}images/a.png`, alt="hoge")
