extends /_templates/_layout

block vars
  - var head = {}
  - head.title       = ""
  - head.keywords    = ""
  - head.description = ""
  - var filePath = "/"

block content
  h2.hoge ほげほげ2
  h3.hoge2#hoge ほげほげ3
    img(src="a.png", alt="hoge")
