<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include( rootPath + '_partial/_head', {
    pageTitle: '2層目',
    metaKeywords: '',
    metaDescription: 'hoge'
  }) %>
</head>
<body>
  <div class="hoge">
    hoge
  </div>
</body>
</html>