//
// Base
// --------------------------------------------------

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS P Gothic", sans-serif;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
}

p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

dl, dd {
  margin: 0;
}

small {
  font-size: 100%;
}

em {
  font-style: normal;
}
