//
// Base
// --------------------------------------------------

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-feature-setting: 'pkna'
  font-family: $base-font-family
  line-height: 1.4
  letter-spacing: $letter-spacing

h1,
h2,
h3,
h4,
h5,
h6
  font-size: 1em
  margin: 0

img
  vertical-align: middle

p
  margin: 0

ol,
ul
  margin: 0
  padding: 0

li
  list-style: none

dl,
dd
  margin: 0

small
  font-size: 100%

em
  font-style: normal
