@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

$si-glyph-anchor: '\EA01';
$si-glyph-android: '\EA02';
$si-glyph-angle: '\EA03';


@mixin iconfont($iconfontName) {
  content: '#{$iconfontName}';
  font-family: 'iconfont';
  font-style: normal;
  font-weight: normal;
  line-height: 1.05;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}