@charset 'utf-8'

@import '../../node_modules/ress/ress'

@import '_partial/variables'
@import '_partial/iconfont'
@import '_partial/sprites'
@import '_partial/base'

.hoge
  +sprite($sample2)
  display: flex
  padding: 10px
  color: #fff
  @media screen and (max-width: $spWidth)
    display: block

.hoge2
  display: flex
  &:before
    +iconfont($si-glyph-anchor)
    display: block
  @media screen and (max-width: $spWidth)
    display: block

.hoge3
  display: flex
  @media screen and (max-width: $spWidth)
    display: block
  &__hoge
    display: block

.hoge4
  display: flex
  @media screen and (max-width: $spWidth)
    display: inline-block

.hoge5
  font-size: 10px
  line-height: 1em
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  margin: 0
  padding: 0
  transform: translate(1px, 10px)
