<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include( rootPath+'_partial/_head', {
    pageTitle: 'user',
    metaKeywords: '',
    metaDescription: 'hoge'
  }) %>
</head>
<body>
<%- include('_partial/_nav', {
  nav: 'nav1'
}) %>
  <div class="hoge">
    hogehoge
  </div>
</body>
</html>